:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Playfair Display", sans-serif;
    --boday-font: "oswald";
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--boday-font);
    color: var(--accent1-color);

}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    background: url(../images/raftingbg.jpg);
    background-position:  center;
    color: white;
    padding: 60px 20px;
    text-align: center;

}
.hero-bg {
    display: block;
    width: 100%;
}
.hero-content {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    padding: 20px;
    background: #d1b9d3;
    color: #fff;
    overflow: auto;
    display: flow-root;

}
.hero-float {
    float: right;
    width: 200px;
    margin: 0 0 10px 10px;
    border: 3px solid #fff;
}
.hero img {
    float: right;
    margin: 0 0 20px 10px;
    width: 200px;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 200px;
}
.socialmedia img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.logo {
    height: 80px;
}
.hero-content img {
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
}
.history,
.adventure {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}
.galllery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gallery img {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
}
footer {
    background: #eee;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
}