:root {
    --primary-color: #795c57;
    --secondary-color: #c057c7;
    --accent1-color: #937e2b;
    --accent2-color: #d16363;
    --heading-font: "Playfair Display", sans-serif;
    --boday-font: "oswald";
}
header {
    background-color: #f1e7e502;
    color: #795c57;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--boday-font);
    color: #201713;
    max-width: 900px;

}
h1, h2 {
    font-family: var(--heading-font);
    color: #1f1515;
    text-align: left;
}
nav, p, section, article {
    margin: 10px;
    padding: 5px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    background: url(../images/raftingbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;

}
.hero-bg {
    display: block;
    width: 200%;
}
.hero-content {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    padding: 20px;
    background: #da8fd64b;
    color: #e6dddd;
    overflow: auto;
    display: flow-root;

}
.hero-float {
    float: right;
    width: 200px;
    margin: 0 0 10px 10px;
    border: 3px solid #2c2323;
}
.hero img {
    float: right;
    margin: 0 0 20px 10px;
    width: 200px;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: white;
    color: #b39d9d;
}
.hero article img {
    float: right;
    width: 200px;
}
.socialmedia img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.logo {
    height: 80px;
}
.hero-content img {
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
}
.history,
.adventure {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    
}
.galllery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gallery img {
    width: 100%;
    border: 2px solid #f8f2f2;
    border-radius: 5px;
}
footer {
    background: #ffffff;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
}
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #c057c7;
    padding: 1rem;
    gap: 1rem;
}
header img {
    width: 60px;
    height: 60px;
}
header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    color:white;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #a38980;
    border-radius: 4px;
}
.history-content {
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.adventure-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}
.adventure-gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #b39d9d
}
.adventure-gallery figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
body {
    margin: 0;
    font-family: var(--heading-font);
}
.gallery {
    display: flex;
    justify-content: space-around
}
.gallery figure {
    margin: o;
    text-align: center;
}
footer {
    background-color: #ddcec9;
    padding: 15px;
    text-align: center;
}
.socialmedia img {
    margin: 5px;
}
.hero, .history, .adventure, footer {
    padding: 20px;
    text-align: center;
}
.history {
    background-color: #a38980;
    padding: 30px 20px;
}
footer {
    display: flex;
    justify-content: flex-end;
}
.cons {
    display: flex;
    gap: 10px;
}
i {
    font-size: 24px;
}
@media (max-width: 768px){
    footer{
        justify-content: center;
    }
}