:root {
    --primary-color: #055a05; /* Dark green */
    --secondary-color: #f4a261; /* Light orange */
    --accent1-color: #264653; /* Dark blue */
    --accent2-color: #e9c46a; /* Light yellow */
    --heading-font: "playfair-display", serif;
    --body-font: "open-sans", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color) 
}
.logo{
    height: 80;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    text-decoration: none;
}
.hero {
    position: relative;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 20px;
}
.hero h1 {
    font: 2rem;
    margin-bottom: 10px;
}
.hero img {
    font-display: block;
    width: 100%;
    height: auto;
    max-width: 100px;
    border: 5px solid white;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}
.small-icon {
    width: 50px;
    height: 50px;
}